

<div class="container">
  <h2>Registration Form</h2>
  <form action="">
    <div class="form-group">
     <label for="shopName">Shop Name</label>
     <input type="text" class="form-control" id="shopName" placeholder="Shop Name">
   </div>
  <div class="form-group">
   <label for="addressLine1">Address 1</label>
   <input type="text" class="form-control" id="addressLine1" placeholder="Address 1">
 </div>
 <div class="form-group">
   <label for="addressLine2">Address 2</label>
   <input type="text" class="form-control" id="addressLine2"  placeholder="Address 2">
 </div>
 <div class="form-group">
    <label for="acceptedItems">Accepted Items</label>
    <input type="text" class="form-control" id="acceptedItems"  placeholder="Accepted Items">
  </div>
  <div class="form-group">
    <label for="loc">Location</label>
    <input type="text" class="form-control" id="loc" placeholder="Location">
  </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
