<div class="card bg-primary text-white card-body">
  <div align="center">Eco Wallet</div>
</div>



<div class="card bg-light text-dark">
 
  <div class="card-body">
    <p>
      Total Points : 60pts
    </p>
    <p>
      Total Money : 60 rupees
    </p>
  </div>
</div>

<div class="card bg-primary text-white card-body">
  <div align="center">Previous Transaction</div>
</div>

<div class="card bg-light text-dark card-body">
    <p>
      60points was removed at store abc
    </p>
</div>

<div class="card bg-light text-dark card-body">
  <p>
    60points is added to your account
  </p>
</div>
<br>
