<div class="container-fluid">

    <div class="row">
      <br>
      <br>
      <br>
      <br>
        <div class="col-3"></div>
        <div class="col-6">  <h3>Hello User </h3></div>
        <div class="col-3"></div>
      <br>
      <br>
      <br>
      <div class="col-12 col-md-4"><a href="collector/verify"><button type="button" class="btn btn-outline-secondary  btn-block">VERIFY</button></a></div>
      <br>
      <br>
      <br>
      <div class="col-12 col-md-4"><a href="collector/request"><button type="button" class=" btn-block btn btn-outline-secondary">REQUEST</button></a></div>
      <br>
      <br>
      <br>
      <div class="col-12 col-md-4"><a href="collector/wallet"><button type="button" class=" btn-block btn btn-outline-secondary">WALLET</button></a></div>
      
    </div>
  </div>
  