<div class="container">
    <form >
      <div class="form-row">
      <div class="form-group col-4">
         <h5>Tetra Pack</h5>
        </div>
      <div class="form-group col-8">
        <span><input [(ngModel)]="tetraPack" type="number" class="form-control" id="tetraPack" name="tetraPack" placeholder="Tetra Pack">
          <!-- <input type="checkbox" name="" value=""> <br> -->
         </span>  
        </div>
        <div class="form-group col-4">
            <h5>CardBoard</h5>
           </div>
         <div class="form-group col-8">
         <span> <input [(ngModel)]="cardboard" type="number" class="form-control" id="cardboard" name="cardboard" placeholder="Card Board">
          <!-- <input type="checkbox" name="" value=""> <br> -->
        </span>
           </div>
           <div class="form-group col-4">
              <h5>Glass Bottle </h5>
             </div>
           <div class="form-group col-8">
            <span> <input [(ngModel)]="glassBottle" type="number" class="form-control" id="glassBottle" name="glassBottle" placeholder="Glass Bottle">
              <!-- <input type="checkbox" name="" value=""> <br> -->
            </span>
             </div>
             <div class="form-group col-4">
                <h5>Plastic Bottle</h5>
               </div>
             <div class="form-group col-8">
                <span><input [(ngModel)]="plasticBottle" type="number" class="form-control" id="plasticBottle" name="plasticBottle" placeholder="Platic Bottle">
                  <!-- <input type="checkbox" name="" value=""> <br> -->
                </span>

               </div>

              
               
      </div>
      <button type="submit" class="btn btn-default" (click)="onSubmission();">Submit</button>
    </form>
  </div>